<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Spotify</h1>

  <div>
    <div>Welcome {{name}}!</div>
  </div>
<p> Currently playing: {{current_song}}</p>
<p><a href="followers">Followers</a></p>
<p><a href="following">Following</a></p>
<p><a href="liked-songs">Liked Songs</a></p>
<p><a href="playlists">Playlists</a></p>
<p><a href="profile">Profile</a></p>
<p><a href="queue">Queue</a></p>

<form method="POST" action="/search">
  <p>Search for a song: <input type="text" name="search_word" required></p>
  <button type="submit"> Search </button>
</form>

<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

</body>


</html>
