<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
	<h1>{{name}} is following ({{count}})</h1>

  <h4> Artists</h4>
  <table>
		{% for n in artists %}
		   <tr>
				<th> <a href='/artist/{{n}}'>{{ n }} </a></th>
        <td> <form style="display: inline" method="POST" action="/unfollow"> <button value="{{n}}" name="unfollow" type="submit"> Unfollow </button> </form> </td>
		   </tr>
		{% endfor %}
	</table>

  <br> 

  <h4>Listeners</h4>
  <table>
		{% for n in listeners %}
		   <tr>
				<th> {{ n }} </th>
        <td> <form style="display: inline" method="POST" action="/unfollow"> <button value="{{n}}" name="unfollow" type="submit"> Unfollow </button> </form> </td>
		   </tr>
		{% endfor %}
	</table>
    <!--<div>
        {% for n in data %}
        <div>{{n}}</div>
        {% endfor %}
    </div>-->

</body>

</html>
