<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
	<h1>My Playlists</h1>

    <table>
		<tr>
			<th> <h4>Title</h4> </th>
				<td> <h4>Date Created</h4> </td>
				<td> <h4>Duration</h4></td>
				<td> <h4>Number of Songs</h4></td>
				<td> <h4>Number of Followers</h4></td>
		</tr>
		{% for key, value in my_playlists.items() %}
		   <tr>
				<th> <a href="{{ url_for('playlist', pl_name=key) }}">{{ key }}</a> </th>
				<td> {{ value[0] }} </td>
				<td> {{ value[1] }} </td>
				<td> {{ value[2] }} </td>
				<td> {{ value[3] }} </td>
		   </tr>
		{% endfor %}
	</table>

	<br>

	<h1>Playlists I Follow</h1>

    <table>
		<tr>
			<th> <h4>Title</h4> </th>
				<td> <h4>Date Created</h4> </td>
				<td> <h4>Duration</h4></td>
				<td> <h4>Number of Songs</h4></td>
		</tr>
		{% for key, value in following_playlists.items() %}
		   <tr>
				<th> <a href="{{ url_for('playlist', pl_name=key) }}">{{ key }}</a> </th>
				<td> {{ value[0] }} </td>
				<td> {{ value[1] }} </td>
				<td> {{ value[2] }} </td>
		   </tr>
		{% endfor %}
	</table>

</body>

</html>
