<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
	<h1>{{name}}'s Liked Songs ({{count}})</h1>


  <table>
		<tr>
			<th> <h4>Song</h4> </th>
				<td> <h4>Album</h4> </td>
				<td> <h4>Artist</h4></td>
		</tr>
		{% for key, value in liked.items() %}
		   <tr>
				<th> {{ key }} </th>
				<td> <a href="/album/{{value[0]}}">{{ value[0] }}</a></td>
				<td> <a href="/artist/{{value[1]}}">{{ value[1] }} </a></td>
        <td> <form style="display: inline" method="POST" action="/unlike"> <button value="{{key}}" name="unlike" type="submit"> Unlike </button> </form> </td>
		   </tr>
		{% endfor %}
	</table>

  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('a[href*="/album/None"]').removeAttr("href");
    });
  </script>

</body>

</html>